p{
    font-family: arial;
    margin-top: 0px;
    margin-bottom: 0px;
    
}
body{
   padding-top: 65px;
   margin-left: 0px;
   background: rgb(247, 247, 247);
   padding-right: 30px;
   padding-bottom: 1000px;
}