
    .video-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 20px;
        row-gap: 40px;
        margin-left: 110px; 
    }
    @media(max-width: 600px){
        .video-grid{
            grid-template-columns: 1fr 1fr;
        }
    }
    .channel-video{
        width: 100%;
    }
    .picture-info
    {
        display: grid;
        grid-template-columns: 45px 1fr;
        margin-top: 10px;
      
    }
    .video-title{
        width: 210px;
        margin-top: 0px;
        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        
        
    }
    .video-preview{
        
        display: inline-block;
        vertical-align: top; 
        margin-top: 15px;
        position: relative;
      
    }
    .div-channel-p{
       
        vertical-align: top;
        width: 55px;
    
    }
    .div-video-info{
    
        width: 250px;
        margin-left: 10px;
        margin-top:  
       
    }
    .profile-pic1{
        width: 40px;
        border-radius: 20px;    
    }
    .video-author, .video-stats{
        font-size: 12px;
        color: rgb(96, 96, 96);
    }
    .video-author{
        margin-bottom: 4px;
    }
    .profile-pic2{
        width: 45px;
        border-radius: 42px;
    } 
    .time{
        background: rgb(0, 0, 0);
        color: white;
        position: absolute;
        bottom: 15px;
        right: 4px;
        height: 20px;
        width: 45px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 2px;
        font-weight: bold;
        font-family: arial;
        font-size: 13px;
        border-radius: 4px;
        
    }